__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.so
*.egg-info/
*.egg
dist/
build/
.venv/
venv/
env/
*.sqlite
*.db
*.db-shm
*.db-wal
*.log
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
node_modules/
*.map
.env
*.env
.env.local
.env.*.local
.idea/dataSources/
.idea/dataSources.local.xml
instance/
instance/*